# Confluence Connection Details
CONFLUENCE_URL = "https://yoursite.atlassian.net/wiki"
CONFLUENCE_USERNAME = "<EMAIL>"
CONFLUENCE_API_TOKEN = "<TOKEN>"

# Confluence Target Location
CONFLUENCE_SPACE_KEY="<SPACE_KEY>"
CONFLUENCE_PARENT_PAGE_ID="<PAGE_ID>"

# Script Configuration
# Options for SCRIPT_MODE: MARKDOWN, CONFLUENCE_MULTI, CONFLUENCE_SINGLE
SCRIPT_MODE="MARKDOWN"
PAGE_TITLE_PREFIX="<TITLE_PREFIX_FOR_SINGLE_MODE>"
CONFLUENCE_SINGLE_PAGE_TITLE="<PAGE_TITLE_FOR_SINGLE_MODE>"
INPUT_FILE_PATH="<FILEPATH_TO_INPUT_JSON>"
OUTPUT_MARKDOWN_FILE="<OUTPUT_MARKDOWN_FILENAME_FOR_MARKDOWN_MODE>"